[Unit]
Description=Anamnesis is a clipboard manager. It stores all clipboard history and offers an easy interface to do a full-text search on the items of its history.

[Service]
Type=forking
ExecStart=/usr/bin/anamnesis --restart --clean
ExecStop=/usr/bin/anamnesis --stop
Restart=always
TimeoutStartSec=0
RestartSec=10800

# [Install]
# WantedBy=default.target
